{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <title>Proyecto Recon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'media/favicon.ico' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Jquery-->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</head>

<body style="background-color: cornflowerblue;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'media/SVG/home-fill.svg' %}"
                    alt="Inicio" width="32" height="32" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos que redirigen a inventario/index.html y tracking/index.html -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'media/SVG/inventario.svg' %}" width="32" height="32" />
                            Intentario
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'agregar_inventario' %}">Agregar Inventario</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'cantidad_inventario' %}">Cantidad Inventario</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'ver_inventario' %}">Ver Inventario</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tracking_index' %}">
                            <img src="{% static 'media/SVG/tracking-fill.svg' %}" width="32" height="32" />
                            Tracking
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pruebas_index' %}">
                            <img src="{% static 'media/SVG/pruebas-fill.svg' %}" width="32" height="32" />
                            Pruebas Fisicas
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search" action="" method="get">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" name="Busqueda">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid mt-5 d-flex flex-column align-items-center text-center"
            style="justify-content: center; align-items: center;">
            <div class="card p-3">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <!-- Modal for alerts messages -->
        <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="alertModalBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>