{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row">
    <div class="col-md-9">
        <!-- Search bar -->
        <form class="d-flex" role="search" id="searchTrackForm">
            <div class="input-group mb-3" style="align-items: stretch;">
                <span class="input-group-text" style="height: 100%;">
                    <svg xmlns="{% static 'media/SVG/search.svg' %}" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                    </svg>
                </span>
                <input class="form-control me-2" type="search" placeholder="Tracking Number" style="height: 100%;"
                    aria-label="Search" name="trackNum">
            </div>
            <button class="btn btn-outline-success" type="submit" style="height: 100%;">Buscar</button>
        </form>
    </div>
    <div class="col-md-3">
        <button id="updateTableBtn" class="btn btn-primary">Actualizar Datos</button>
    </div>
</div>
<br>
<hr>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Tracking Number</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Color</th>
                <th scope="col">Interior lleno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p id="track"></p>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated bg-primary progress-bar-striped"
                            role="progressbar" style="width: 100%" id="tamanoBar"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated bg-primary progress-bar-striped"
                            role="progressbar" style="width: 100%" id="colorBar"></div>
                    </div>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar progress-bar-animated bg-primary progress-bar-striped"
                            role="progressbar" style="width: 100%" id="llenoBar"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="{% static 'media/favicon.ico' %}" class="rounded me-2" alt="..." width="16" height="16">
            <strong class="me-auto">Pruebas</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p id="toastText"></p>
        </div>
    </div>
</div>

<!-- MiddleEnd -->
<script>
    $(document).ready(function () {
        let timeOut = 7000;
        // Search for tracking number
        $('#searchTrackForm').submit((e) => {
            e.preventDefault();
            let track = e.target.trackNum.value;
            $.ajax({
                url: "{% url 'searchTracking' %}",
                type: 'POST',
                data: { 'track': track },
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                success: function (response) {
                    console.log(`${response.status}`);
                    if (response.status == 'Orden encontrada y lista para pruebas.') {
                        $('#track').text(track);
                        $('#toastText').text(response.status);
                        $('.toast').toast('show');
                        setTimeout(() => {
                            $('.toast').toast('hide');
                        }, timeOut);
                    }
                    else {
                        $('#track').text('');
                        $('#toastText').text(response.status);
                        $('.toast').toast('show');
                        setTimeout(() => {
                            $('.toast').toast('hide');
                        }, timeOut);
                    }
                },
                error: function (response) {
                    $('#toastText').text(response.responseText.toString());
                    $('.toast').toast('show');
                    setTimeout(() => {
                        $('.toast').toast('hide');
                    }, timeOut);
                }
            });
        });
        // Update table
        $('#updateTableBtn').on('click', async () => {
            try {
                const pasoPrueba = await updateTable();
                if (pasoPrueba){
                    $('#toastText').text('Pruebas pasadas con éxito.\n\tTabla actualizada.');
                    $('.toast').toast('show');
                    setTimeout(() => {
                        $('.toast').toast('hide');
                    }, timeOut);
                }
                else{
                    $('#toastText').text('Una o varias pruebas no fueron pasadas.\n\tTabla actualizada.');
                    $('.toast').toast('show');
                    setTimeout(() => {
                        $('.toast').toast('hide');
                    }, timeOut);
                }
                await saveResult(pasoPrueba);
            } catch (e) {
                $('#toastText').text(`${e}`);
                $('.toast').toast('show');
                setTimeout(() => {
                    $('.toast').toast('hide');
                }, timeOut);
        }
        });
        function updateTable() {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "{% url 'leerPruebas' %}",
                    type: 'POST',
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (response) {
                        data = response.data;
                        $('#tamanoBar').removeClass('bg-primary');
                        $('#colorBar').removeClass('bg-primary');
                        $('#llenoBar').removeClass('bg-primary');

                        let pasoPrueba = true;

                        if (data.tamano == 'True' || data.tamano == 'true')
                            $('#tamanoBar').addClass('bg-success');
                        else {
                            $('#tamanoBar').addClass('bg-danger');
                            pasoPrueba = false;
                        }

                        if (data.color == 'True' || data.color == 'true')
                            $('#colorBar').addClass('bg-success');
                        else {
                            $('#colorBar').addClass('bg-danger');
                            pasoPrueba = false;
                        }

                        if (data.lleno == 'True' || data.lleno == 'true')
                            $('#llenoBar').addClass('bg-success');
                        else {
                            $('#llenoBar').addClass('bg-danger');
                            pasoPrueba = false;
                        }
                        resolve(pasoPrueba)
                    },
                    error: function (response) {
                        reject(response.responseText.toString());
                        $('#toastText').text(response.responseText.toString());
                        $('.toast').toast('show');
                        setTimeout(() => {
                            $('.toast').toast('hide');
                        }, timeOut);
                    }
                });
            });
        }
        function saveResult(pasoPrueba){
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: '{% url "saveTracking" %}',
                    type: 'POST',
                    data: { 'pasoPrueba': pasoPrueba },
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    success: function (response) {
                        resolve(response.responseText.toString());
                        $('#toastText').text(response.responseText.toString());
                        $('.toast').toast('show');
                        setTimeout(() => {
                            $('.toast').toast('hide');
                        }, timeOut);
                    },
                    error: function (response) {
                        reject(response.responseText.toString());
                        $('#toastText').text(response.responseText.toString());
                        $('.toast').toast('show');
                        setTimeout(() => {
                            $('.toast').toast('hide');
                        }, timeOut);
                    }
                });
            });
        }
    });
</script>
{% endblock %}