{% extends 'base.html' %} {% block content %}{% load static %}
<!-- Add new order-->
<div class="row mb-4">
    <div class="col-md-9">&nbsp;</div>
    <div class="col-md-3">
        <!-- Button that opens modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOrderModal">
            Agregar Orden
        </button>
    </div>
</div>

<div class="card-body">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="trackTable">
                    <thead class="table-info">
                        <th>Tracking Number</th>
                        <th>Cliente</th>
                        <th>Procesado</th>
                        <th>Armado</th>
                        <th>Pruebas</th>
                        <th>Etiquetado</th>
                        <th>Enviado</th>
                        <th>Acciones</th>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for track in page_obj %}
                        <tr>
                            <td>
                                {{ track.trackNumber }}
                                <input type="hidden" id="trackingNumber-{{ track.trackNumber }}"
                                    value="{{ track.trackNumber }}">
                            </td>
                            <td>
                                {{ track.clientName }}
                                <input type="hidden" id="clientName-{{ track.trackNumber }}"
                                    value="{{ track.clientName }}">
                            </td>
                            <!-- Procesado -->
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated {% if track.procesado == None %} bg-primary {% elif track.procesado == 0 %} bg-success {% else %} bg-danger {% endif %} progress-bar-striped"
                                        role="progressbar" style="width: 100%"></div>
                                </div>
                                <input type="hidden" id="procesado-{{ track.trackNumber }}"
                                    value="{% if track.procesado == None %}{% else %}{{track.procesado}}{% endif %}">
                            </td>
                            <!-- Armado -->
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated {% if track.armado == None %} bg-primary {% elif track.armado == 0 %} bg-success {% else %} bg-danger {% endif %} progress-bar-striped"
                                        role="progressbar" style="width: 100%"></div>
                                </div>
                                <input type="hidden" id="armado-{{ track.trackNumber }}"
                                    value="{% if track.armado == None %}{% else %}{{track.armado}}{% endif %}">
                            </td>
                            <!-- Prueba -->
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated {% if track.prueba == None %} bg-primary {% elif track.prueba == 0 %} bg-success {% else %} bg-danger {% endif %} progress-bar-striped"
                                        role="progressbar" style="width: 100%"></div>
                                </div>
                                <input type="hidden" id="prueba-{{ track.trackNumber }}"
                                    value="{% if track.prueba == None %}{% else %}{{track.prueba}}{% endif %}">
                            </td>
                            <!-- Etiquetado -->
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated {% if track.etiquetado == None %} bg-primary {% elif track.etiquetado == 0 %} bg-success {% else %} bg-danger {% endif %} progress-bar-striped"
                                        role="progressbar" style="width: 100%"></div>
                                </div>
                                <input type="hidden" id="etiquetado-{{ track.trackNumber }}"
                                    value="{% if track.etiquetado == None %}{% else %}{{track.etiquetado}}{% endif %}">
                            </td>
                            <!-- Enviado -->
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-animated {% if track.enviado == None %} bg-primary {% elif track.enviado == 0 %} bg-success {% else %} bg-danger {% endif %} progress-bar-striped"
                                        role="progressbar" style="width: 100%"></div>
                                </div>
                                <input type="hidden" id="enviado-{{ track.trackNumber }}"
                                    value="{% if track.enviado == None %}{% else %}{{track.enviado}}{% endif %}">
                            </td>
                            <!-- Action Buttons -->
                            <td>
                                <button id="edit-{{track.trackNumber}}" class="btn btn-primary edit-btn"
                                    type="button">Editar</button>
                                <button id="sim-{{track.trackNumber}}" class="btn btn-success sim-btn"
                                    type="button">Simular</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'tracking_index' page=page_obj.previous_page_number %}"
                            aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %} {% for p in pages %}
                    <li class="page-item {% if current_page == p %}active{% endif %}">
                        <a class="page-link" href="{% url 'tracking_index' page=p %}">{{ p }}</a>
                    </li>
                    {% endfor %} {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'tracking_index' page=page_obj.next_page_number %}"
                            aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="simulation-container">
                    <!-- Contenido de la simulación -->
                    <p>
                        <img src="{% static 'media/procesing-icon.png' %}" class="station" id="station1"
                            alt="Estación 1">
                    </p>
                    <p>
                        <img src="{% static 'media/build-icon.jpg' %}" class="station" id="station2" alt="Estación 2">
                    </p>
                    <p>
                        <a href="{% url 'pruebas_index' %}">
                            <img src="{% static 'media/checked-icon.png' %}" class="station" id="station3"
                                alt="Estación 3" data-bs-toggle="tooltip" data-bs-placement="left"
                                title="Ir a la prueba">
                        </a>
                    </p>
                    <p>
                        <img src="{% static 'media/ticket-icon.png' %}" class="station" id="station4" alt="Estación 4">
                    </p>
                    <p>
                        <img src="{% static 'media/shipped-icon.webp' %}" class="station" id="station5"
                            alt="Estación 5">
                    </p>
                    <div id="box-container">
                        <img src="{% static 'media/flat-box.jpg' %}" class="box" id="box" alt="Caja desarmada">
                        <img src="{% static 'media/red-cross.webp' %}" class="box" id="cross" alt="Cruz roja"
                            aria-hidden="true">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="addOrderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11">
                    <h5 class="modal-title" id="addOrderModalLabel">Agregar Orden</h5>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form id="addOrderForm" action="{% url 'tracking_add' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="quantityBoxes">¿Cuántas cajas desea ordenar?</label>
                                <input class="form-control" id="quantityBoxes" name="quantityBoxes" type="number"
                                    min="1" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="orderName">¿A nombre de quien va a ser la orden?</label>
                                <input class="form-control" id="orderName" name="orderName" type="text"
                                    placeholder="Nombre" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-9">&nbsp;</div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal to edit order -->
<div class="modal fade" id="editOrderModal" tabindex="-1" role="dialog" aria-labelledby="editOrderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" style="max-width: 80%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-11">
                    <h5 class="modal-title" id="editOrderModalLabel">Editar Orden</h5>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
            </div>
            <div class="modal-body">
                <form id="editOrderForm" action="{% url 'tracking_edit' %}" method="post">
                    {% csrf_token %}
                    <!-- Tracking Number y Cliente -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="trackNumberInput" class="form-label" id="trackNumber"></label>
                                <input type="text" class="form-control" id="trackNumberInput" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="clientNameInput" class="form-label" id="clientName"></label>
                                <input type="text" class="form-control" id="clientNameInput">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- Estado de las estaciones -->
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="procesadoInput" class="form-label" id="procesado">Procesado</label>
                                <select id="procesadoInput" class="form-select">
                                    <option value="">Falta procesar</option>
                                    <option value="false">Procesado</option>
                                    <option value="true">Error en produccion</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="armadoInput" class="form-label" id="armado">Armado</label>
                                <select id="armadoInput" class="form-select">
                                    <option value="">Falta armar</option>
                                    <option value="false">Armado</option>
                                    <option value="true">Error en armado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="pruebaInput" class="form-label" id="prueba">Prueba</label>
                                <select id="pruebaInput" class="form-select">
                                    <option value="">Falta probar</option>
                                    <option value="false">Probado</option>
                                    <option value="true">Error en las pruebas</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="etiquetadoInput" class="form-label" id="etiquetado">Etiquetado</label>
                                <select id="etiquetadoInput" class="form-select">
                                    <option value="">Falta etiquetar</option>
                                    <option value="false">Etiquetado</option>
                                    <option value="true">Error en etiquetado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="enviadoInput" class="form-label" id="enviado">Enviado</label>
                                <select id="enviadoInput" class="form-select">
                                    <option value="">Falta enviar</option>
                                    <option value="false">Enviado</option>
                                    <option value="true">Error en envio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-9">&nbsp;</div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Styles -->
<style>
    .simulation-container {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: auto;
        aspect-ratio: 1;
        margin: auto;
        border: 1px solid #ccc;
        overflow: hidden;
    }

    .table {
        width: 100%;
    }

    .card-body .row {
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
    }

    .station {
        position: absolute;
        width: 15%;
        height: 15%;
    }

    #station1 {
        top: 10%;
        left: 10%;
    }

    #station2 {
        bottom: 10%;
        left: 10%;
    }

    #station3 {
        bottom: 10%;
        right: 10%;
    }

    #station4 {
        top: 10%;
        right: 10%;
    }

    #station5 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .box {
        position: absolute;
        width: 15%;
        height: 15%;
        top: 0;
        left: 0;
        transition: all 1s ease;
    }
</style>

<script>
    const trackTable = document.getElementById('trackTable')
    const editModal = document.getElementById('editOrderModal');
    const alertModal = document.getElementById('alertModal');

    function getValue(valor) {
        switch (valor) {
            case 'True':
            case true:
                return 'true';
            case 'False':
            case false:
                return 'false';
            default:
                return '';
        }
    }

    function startSim(proc, arm, ver, eti, env) {
        const params = [proc, arm, ver, eti, env];
        const positions = [
            { top: $("#station1").css('top'), left: $("#station1").css('left') },
            { top: $("#station2").css('top'), left: $("#station2").css('left') },
            { top: $("#station3").css('top'), left: $("#station3").css('left') },
            { top: $("#station4").css('top'), left: $("#station4").css('left') },
            { top: $("#station5").css('top'), left: $("#station5").css('left') }
        ];
        $("#box").css({ 'top': '0px', 'left': '0px', 'transition': 'none' });
        $("#cross").hide();
        async function animateStation(index) {
            if (index >= params.length || params[index] === '') {
                return;
            }
            if (index === 2) {
                $("#box").attr("src", "{% static 'media/cajas-carton.jpg' %}");
            }
            await $("#box").animate(positions[index], 1000);
            await new Promise(r => setTimeout(r, 4000));
            if (params[index] == 'True') {
                $("#cross").css({
                    'top': $('#box').css('top'),
                    'left': $('#box').css('left'),
                    'transition': 'none'
                });
                $("#cross").show();
                $("#alertModalBody").text(`Error en la estación ${index + 1}. Favor de revisar el producto.`);
                $("#alertModal").modal('show');
                return;
            }
            animateStation(index + 1); // Call the next station
        }
        animateStation(0);
    }

    $(document).ready(() => {
        $('#cross').hide();
        // Add order
        $('#addOrderForm').on('submit', (e) => {
            e.preventDefault();
            const actionUrl = e.target.action;
            const formData = [
                { name: 'quantityBoxes', value: e.target.quantityBoxes.value },
                { name: 'orderName', value: e.target.orderName.value }
            ]
            $.ajax({
                url: actionUrl,
                type: 'POST',
                data: formData,
                headers: { 'X-CSRFToken': e.target.csrfmiddlewaretoken.value },
                success: (data) => {
                    $('#alertModalBody').text(data.status);
                    $('#alertModal').modal('show');
                    // Refresh the table after closing the modal
                    $('#alertModal').on('hidden.bs.modal', () => {
                        location.reload();
                    });
                },
                error: (error) => {
                    $('#alertModalBody').text(error.responseText);
                    $('#alertModal').modal('show');
                    $('#alertModal').on('hidden.bs.modal', () => {
                        location.reload();
                    });
                }
            });
        });
        // Edit order
        $('.edit-btn').on('click', function () {
            const trackNumber = $(this).attr('id').split('-')[1];
            const clientName = $(`#clientName-${trackNumber}`).val();
            const procesado = $(`#procesado-${trackNumber}`).val();
            const armado = $(`#armado-${trackNumber}`).val();
            const prueba = $(`#prueba-${trackNumber}`).val();
            const etiquetado = $(`#etiquetado-${trackNumber}`).val();
            const enviado = $(`#enviado-${trackNumber}`).val();

            $('#trackNumberInput').val(trackNumber);
            $('#clientNameInput').val(clientName);
            $('#procesadoInput').val(getValue(procesado));
            $('#armadoInput').val(getValue(armado));
            $('#pruebaInput').val(getValue(prueba));
            $('#etiquetadoInput').val(getValue(etiquetado));
            $('#enviadoInput').val(getValue(enviado));

            $('#editOrderModal').modal('show');
        });
        $('#editOrderForm').on('submit', (e) => {
            e.preventDefault();
            const actionUrl = e.target.action;
            const formData = [
                { name: 'trackNumber', value: e.target.trackNumberInput.value },
                { name: 'clientName', value: e.target.clientNameInput.value },
                { name: 'procesado', value: e.target.procesadoInput.value },
                { name: 'armado', value: e.target.armadoInput.value },
                { name: 'prueba', value: e.target.pruebaInput.value },
                { name: 'etiquetado', value: e.target.etiquetadoInput.value },
                { name: 'enviado', value: e.target.enviadoInput.value }
            ];
            $.ajax({
                url: actionUrl,
                type: 'POST',
                headers: { 'X-CSRFToken': e.target.csrfmiddlewaretoken.value },
                data: formData,
                success: (data) => {
                    $('#alertModalBody').text(data.status);
                    $('#alertModal').modal('show');
                    // Refresh the table after closing the modal
                    $('#alertModal').on('hidden.bs.modal', () => {
                        location.reload();
                    });
                },
                error: (error) => {
                    $('#alertModalBody').text(error.responseText);
                    $('#alertModal').modal('show');
                    $('#alertModal').on('hidden.bs.modal', () => {
                        location.reload();
                    });
                }
            });
        });
        // Simulate order
        $('.sim-btn').on('click', (e) => {
            const trackNumber = e.target.id.split('-')[1];
            const procesado = $(`#procesado-${trackNumber}`).val();
            const armado = $(`#armado-${trackNumber}`).val();
            const prueba = $(`#prueba-${trackNumber}`).val();
            const etiquetado = $(`#etiquetado-${trackNumber}`).val();
            const enviado = $(`#enviado-${trackNumber}`).val();
            startSim(procesado, armado, prueba, etiquetado, enviado);
        });
        // Send to the pruebas to test the order
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

    });
</script>
{% endblock %}